.jumbotron{
    height: 460px;
    background:rgba(0,0,0,0.9);

  }
  .navs1{
      display: none;
      margin-top: 0px;
    }
.row{
  width: 100%;
  height: 100%;
}
.mycarousel{
  width: 100%;
}
