.button1{
	margin-left: 90px;
	border: 0px;
}
.button0{
	margin-left: 30px;
}
.sp{
	margin-left: 100px;
}
.sp1{
	margin-left: 250px;
}
.sp2{
	margin-left: 140px;
}
.sp3{
	margin-left: 100px;
}
.sp4{
	margin-left: 50px;
}
.input1{
	margin-right:200px;
}
.pull-right{
	float:right;
	width: 200px;
}
.input2{
border: solid #ececec;
}
li{
	list-style: none;
}
.enter{
	margin-left: 90px;
}
.sp5{
	margin-left: 100px;
}
body{
	background-image: none;
	background-color: #ececec;
}
.list-group{
	width: 1140px;
	height: 56px;
}