<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>{%   block title %}{% endblock %}-XX公开课</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
        <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/base_test.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_test.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/icon.ico') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="{{ url_for('index') }}" class="navbar-brand">
                        <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Brand" width="30">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">首页<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">帮助</a></li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="#">制作人</a></li>
                        <li><a href="#">联系方式</a></li>
                        <li><a href="#">源代码</a></li>
                    </ul>
                    </li>
                        {% if search %}
                      <form class="navbar-form navbar-left" method="post">
                        <div class="form-group">
                        <input type="text" class="form-control" name="key" placeholder="搜索" style="width: 400px;">
                        {#  TODO: move #}
                        </div>
                            <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-search "></span></button>
                      </form>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if  current_user.is_authenticated %}
                            <li><a href="{{ url_for('logout') }}">退出</a></li>
                            <li  class="dropdown">
                                <a href="#" class="data-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">个人用户<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    {% if current_user.can(Permission.LEARNING) %}
                                        <li ><a href="{{ url_for('user', username=current_user.username) }}">修改信息</a></li>
                                        <li ><a href="{{ url_for('user_follow', key=current_user.id) }}">查看收藏</a></li>
                                    {% endif %}
                                    {% if current_user.can(Permission.ADMIN) %}
                                        <li ><a href="{{ url_for('modify_category') }}">管理分类</a></li>
                                    {% endif %}
                                    {% if current_user.can(Permission.VIEW_REPORT) %}
                                        <li ><a href="{{ url_for('data', username=current_user.username) }}">查看统计</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">登录</a></li>
                            <li><a href="{{ url_for('register') }}">注册</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="main">
            {% block main %}y

            {% endblock %}
        </div>
    </body>
</html>