{% extends 'base.html' %}
{% block head %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block title %}

{% endblock %}

{% block main %}
    <div class="container">
<h1 class="page-header" style="color: black">Hello {{ current_user.username if current_user.is_authenticated else 'Stranger' }}</h1>
<div class="jumbotron">
<div class="row">
<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        {% for category in Category.query.all() %}
            <li class="navs"><a href="{{ url_for('search_by_category', key=category.id) }}"
                                style="color: white;font-size: 25px;">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="col-md-10">
<div id="carousel-test" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-ex" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-test" data-slide-to="1"></li>
    <li data-target="#carousel-test" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
<div class="item active">
  <a href="#">
      <img src="{{ url_for('static',filename='course/819/ab495ad3c068263.jpg') }}"></a>
<div class="carousel-caption">
    <a href=""><h2 align="center"></h2></a>
</div>
</div>
    {% for course in Course.query.all() %}
<div class="item">
    <a href="#">
        {% if course.index_pic %}
        <img src="{{ Index_pic.url(course.index_pic) }}"  alt="图片">
    {% else %}
        <img src="{{ url_for('static', filename='course/default.jpg') }}"  alt="图片">
    {% endif %}
    </a>
<div class="carousel-caption">
        <a href="{{ url_for('detail',course_id=course.id) }}"><h2 align="center">{{ course.name }}</h2></a>
</div>
</div>
    {% endfor %}
</div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-test" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-test" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    {% for category in Category.query.all() %}
        <div class="row navs1">
            <p>
                <h3>
                {% for course in category.courses %}
                    <a href="#" style="">{{ course.name }}</a> |
                {% endfor %}
                </h3>
            </p>
        </div>
    {% endfor %}
</div>
</div>
</div>
</div>
</div>

{% endblock %}