{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modify_user.css') }}" >
{% endblock %}
{% block title %}修改信息{% endblock %}

{% block main %}
    {% if status_pass1 %}
           <div class="alert alert-warning" role="alert" align="center">输入的新密码不一致。请重新输入！
               <a herf="#" class="close" data-dismiss="alert">&times;</a>
           </div>
    {% endif %}

    {% if  status_pass2 %}
        <div class="alert alert-warning" role="alert" align="center">请输入正确的密码！
             <a herf="#" class="close" data-dismiss="alert">&times;</a>
        </div>
    {% endif %}
    {% if  success %}
        <div class="alert alert-success" role="alert" align="center">更改成功！
             <a herf="#" class="close" data-dismiss="alert">&times;</a>
        </div>
    {% endif %}
    <div class="row">
    <div class="jumbotron">

    <form class="form-horizontal" method="post">
{#        TODO :ADD member since and lastseen#}
    {% if current_user.can(Permission.ADMIN) %}
           <div class="form-group form-group-lg has-warning" id="form-group1">
  <label  class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
    <div class="col-sm-4 input-group">
    <div>
    <select class="form-control" name="role">
        <option>{{ user.role.name }}</option>
      {% for role in Role.query.all() %}
        <option>{{ role.name }}</option>
      {% endfor %}
    </select>
  </div>
    </div>
  </div>
{% endif %}
       <div class="form-group form-group-lg has-warning" id="form-group1">
        <label  class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
        <div class="col-sm-4 input-group">
        <div class="input-group-addon "><span class="glyphicon glyphicon-edit"></span></div>
          <input type="password" class="form-control auth" id="inputpassword" maxlength="20" placeholder="请输入旧密码" name="password">
          <span class="test1 glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span class="test2 glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>

       <div class="form-group form-group-lg has-warning">
      <label class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
        <div class="col-sm-4 input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></div>
          <input type="password" class="form-control auth " id="inputpassword2" maxlength="20" placeholder="请输入新密码" name="password1">
          <span class="test1 glyphicon glyphicon-ok form-control-feedback " aria-hidden="true"></span>
          <span class="test2 glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
       </div>

   <div class="form-group form-group-lg has-warning">
  <label class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
    <div class="col-sm-4 input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></div>
      <input type="password" class="form-control auth"  id="inputrepassword1" maxlength="20" placeholder="请再次输入新密码" name="password2">
       <span class="test1 glyphicon glyphicon-ok form-control-feedback " aria-hidden="true"></span>
        <span class="test2 glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
  </div>

   <div class="form-group form-group-lg has-warning" >
  <label class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
    <div class="col-sm-4 input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></div>
      <input type="text" class="form-control auth"  id="inputtel" placeholder="请输入手机号" maxlength="11" name="telephone" value="{{ user.telephone }}">
       <span class="test1 glyphicon glyphicon-ok form-control-feedback " aria-hidden="true"></span>
        <span class="test2 glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
  </div>

   <div class="form-group form-group-lg has-warning" >
  <label class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
    <div class="col-sm-4 input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></div>
      <input type="text" class="form-control auth"  id="area" placeholder="请输入地区" maxlength="50" name="location" value="{{ user.location }}">
    </div>
  </div>

   <div class="form-group form-group-lg has-warning" >
  <label class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
    <div class="col-sm-4 input-group">
      <textarea rows="5" cols="63" placeholder="个性签名" name="about_me">{{ user.about_me }}</textarea>
    </div>
  </div>

  <div class="form-group">
      <button type="submit" class="btn btn-success  col-sm-offset-4 col-sm-2 btn-lg submit" id="submit1">确认</button>
      <a href="{{ url_for('index') }}">
      <button type="button" class="btn btn-danger  col-sm-2 btn-lg">取消</button>
      </a>
    </div>

    </form>
</div>
        </div>
{% endblock %}