{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modify_category.css') }}">
{% endblock %}
{% block title %}管理章节{% endblock %}

{% block main %}
    {% if  nameisnull %}
        <div class="alert alert-warning" role="alert" align="center">类别名不能为空！
             <a herf="#" class="close" data-dismiss="alert">&times;</a>
        </div>
    {% endif %}
    {% if  success %}
        <div class="alert alert-success" role="alert" align="center">修改成功！
             <a herf="#" class="close" data-dismiss="alert">&times;</a>
        </div>
    {% endif %}
<div class="container">
<h1 class="page-header" >类别管理</h1>
<form method="post">
<ul class="list-group">
  <li class="list-group-item item0">
  <span class="sp4">类别名</span>
  <span class="sp3">新增</span>
  <span class="sp">删除</span>
  <span class="sp5">确认</span>
  </li>
{% if category_set %}
    {% for category in category_set %}
  <li class="list-group-item item1">
        <input type="text" name="input{{ loop.index }}" class="input2" value="{{ category.name }}"></input>
    <a href="{{ url_for('insert_category') }}">
  <button  class="btn btn-info button0" type="button">
  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
  </button>
    </a>
      <a href="{{ url_for('delete_category', category_id=category.id) }}">
  <button value="删除" type="button" class="btn btn-default button1">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </button>
      </a>
  <span><input type="submit" class="enter btn btn-warning" value="确认"> </input> </span>
 <div class="hid"><input type="text" name=""></div>
  </li>
    {% endfor %}
{% else %}
    <li class="list-group-item item1">
  <input type="text" name="" class="input2" value=""> </input>
    <a href="{{ url_for('insert_category') }}">
      <button  class="btn btn-info button0" type="button">
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
      </button>
    </a>
  <button value="删除" type="button" class="btn btn-default button1">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </button>
  <span><button type="button" class="enter btn btn-warning" disabled="disabled" >确认</button></span>
 <div class="hid"><input type="text" name=""></div>
  </li>
{% endif %}
</ul>
</form>
</div>
    </div>

{% endblock %}