{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/register_test.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/register.js') }}"></script>
{% endblock %}

{% block title %}login{% endblock %}

{% block main %}
{#    TODO:add a box maybe#}
    {% if status_tel %}
        <div class="alert alert-danger" role="alert">您输入的邮箱已被注册，请重新输入！ </div>
    {% endif %}
    {% if status_name %}
        <div class="alert alert-danger" role="alert">您输入的用户名已被注册，请重新输入！ </div>
    {% endif %}
    {% if status_pass %}
        <div class="alert alert-danger" role="alert">两次输入的密码不相同，请重新输入！ </div>
    {% endif %}
    <div class="row">
<form class="form-horizontal" method="post">
  <div class="form-group form-group-lg has-feedback has-success" id="form-group1">
  <label for="inputuesername" class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
    <div class="col-sm-4 input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
      <input type="text" class="form-control input-lg auth"  id="username" name="username" placeholder="请输入用户名">
      <span class="test1 glyphicon glyphicon-ok form-control-feedback " aria-hidden="true"></span>
      <span class="test2 glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
  </div>
   <div class="form-group form-group-lg has-success has-feedback">
  <label for="inputuesername" class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
    <div class="col-sm-4 input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon glyphicon-envelope"></span></div>
      <input type="email" class="form-control auth " id="email" maxlength="50" name="email" placeholder="请输入邮箱">
      <span class="test1 glyphicon glyphicon-ok form-control-feedback " aria-hidden="true"></span>
      <span class="test2 glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
  </div>
   <div class="form-group form-group-lg has-success has-feedback">
  <label for="inputuesername" class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
    <div class="col-sm-4 input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></div>
      <input type="password" class="form-control auth " id="inputpassword" maxlength="20" name="password1" placeholder="请输入密码">
      <span class="test1 glyphicon glyphicon-ok form-control-feedback " aria-hidden="true"></span>
      <span class="test2 glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
  </div>
   <div class="form-group form-group-lg has-feedback has-success">
  <label for="inputuesername" class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
    <div class="col-sm-4 input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></div>
      <input type="password" class="form-control auth"  id="inputrepassword" maxlength="20" name="password2" placeholder="请再次输入密码">
       <span class="test1 glyphicon glyphicon-ok form-control-feedback " aria-hidden="true"></span>
        <span class="test2 glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
  </div>
   <div class="form-group form-group-lg has-success has-feedback" >
  <label for="inputuesername" class="sr-only col-sm-offset-2 control-label col-sm-2"></label>
    <div class="col-sm-4 input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></div>
      <input type="text" class="form-control auth"  id="inputtel" placeholder="请输入手机号" name="telephone" maxlength="11">
       <span class="test1 glyphicon glyphicon-ok form-control-feedback " aria-hidden="true"></span>
        <span class="test2 glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-success  col-sm-offset-4 col-sm-4 btn-lg">完成注册</button>
    </div>
    </form>
    </div>
    </div>
</div>
        </div>
{% endblock %}