{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/video.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}
{% block title %}正在播放{% endblock %}

{% block main %}
    <b style="padding-left:101px;">正在播放第一课</b>
<div class="frame">

<iframe name="a1" style="width:100%;height:100%;background-color:black"allowfullscreen="true"align="left">
</iframe>

<a href="{{ url_for('static', filename='course/'+chapter.video) }}" target="a1"scrolling="no"><i class="glyphicon glyphicon-play">点此播放</i></a>

</div>
<div class="class-list">
{% for chapter in course.chapters %}
<a href="{{ url_for('video',chapter_id=chapter.id) }}"><b>第一章 : Python的介绍</b></a></br>
    {% endfor %}
</div>


{% endblock %}